<h1>Logga in</h1>
<form method="POST" action="/login">
  <input name="email" type="email" placeholder="E-post" required />
  <input name="password" type="password" placeholder="Lösenord" required />
  <button>Logga in</button>
</form>
<a href="/register">Har du inget konto? Registrera dig</a>
